{% extends 'base.html' %}
{% block title %}blogs{% endblock %}
{% block createButton %}<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createBlogModal" data-bs-whatever="@mdo">Create Blog</button>{% endblock %}
{% block content %}
<div class="container">
    <div class="modal fade" id="createBlogModal" tabindex="-1" aria-labelledby="createBlogModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createBlogModalLabel">New Blog Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'blog_posts' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="blog_title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="blog_title" name="blog_title">
          </div>
          <div class="mb-3">
            <label for="blog_content" class="col-form-label">Body:</label>
            <textarea class="form-control" id="blog_content" name="blog_content" ></textarea>
          </div><div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Post">
      </div>
        </form>
      </div>

    </div>
  </div>
</div>
</div>
{% endblock %}